/*mobile first style (mobile defaults)*/

.profile-portada{
    background-size: cover;
    background-color: lightgray;
    background-position: center ;
    width:100%;
    height: 300px;
    position: relative;
}

.profile-portada button{
    position: absolute;
    top:20px;
    left: 20px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    color:lightgray;
    transition: all .5s ease;
    border:none;
    text-transform: uppercase;
    cursor: pointer;

}

.profile-portada button:hover{
    background: rgba(0,0,0,0.7);
    color:white;
    box-shadow: black 2px 2px;
}

.profile-portada figure{
    width: 120px;
    height: 120px;
    border-radius:50%;
    border: 4px solid white;
    position: absolute;
    bottom:-35px;
    left:calc(50% - 60px);
    z-index: 2;
}

.profile-portada figure div{
    background:rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    border-radius:50%;
    width: 100%;
    height: 100%;
    text-align: center;
    color: lightgrey;
    overflow: hidden;
    padding-top: 40%;
    opacity: 0;
    transition: opacity .5s ease;
    cursor: pointer;

}

.profile-portada figure div:hover{
    opacity: 1;
}

.profile-portada img{
    width: 100%;
    height: 100%;
    border-radius:50%;
    position: absolute;
    top:0;
    left:0;
}

.profile-form{
    padding: 20px;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}

.profile-form label{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-top:20px;
}
 .profile-form input[type=text]{
     outline: none;
     border:1px solid lightgrey;
     border-radius: 4px 4px;
     padding:10px 20px;
     color: dimgrey;
     font-size: 100%;
 }

 .profile-form input[type=text]:disabled{
     background:lightgrey;
     cursor: not-allowed;
 }

.profile-form textarea{
    outline: none;
    border:1px solid lightgrey;
    border-radius: 4px 4px;
    padding:10px 20px;
    color: dimgrey;
    font-size: 100%;
}

 .profile-form input[type=submit]{
     background-color: forestgreen;
     color:white;
     padding:10px 20px;
     margin-top: 20px;
     margin-left: calc(100% - 200px);
     cursor: pointer;
 }

 /*public profile*/

.profile-portada-publica{
    background-size: cover;
    background-color: orange;
    background-position: center ;
    width:100%;
    height: 300px;
    position: relative;
}

.profile-portada-publica figure{
    width: 120px;
    height: 120px;
    border-radius:50%;
    border: 4px solid white;
    position: absolute;
    bottom:-35px;
    left:20px;
    z-index: 2;
}
.profile-portada-publica img{
    width: 100%;
    height: 100%;
    border-radius:50%;
    position: absolute;
    top:0;
    left:0;
}

 .profile-follow-data{
    width: 100%;
    height: 64px;
    background-color: white;
    position: absolute;
    bottom: -64px;
    z-index: 1;
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding: 0 200px;
 }

 @media(max-width: 600px){
     .profile-follow-data span{
        display: none;
     }
     .profile-follow-data{
        padding: 0;
     }

 }


/*General Profile*/
.general-profile-cover{
    background-image: url("https://media-exp2.licdn.com/media/AAIAAQDGAAwAAQAAAAAAAA3dAAAAJDFkZTMwMjUxLTBhMTMtNGEyNS04YmE3LWQxMmQxZDg4ZThiZQ.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 150px;
}

.general-profile-cover img{
    position: absolute;
    bottom: -50px;
    left: calc(50% - 50px);
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
}

.general-profile-info{
    text-align: center;
    color: dimgrey;
    padding: 60px 0;
    font-weight: lighter;
    line-height: 20px;
    font-size: 80%;
    position: relative;
}

.general-profile-info span{
    position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
}

.paper{
    width:95%;
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
}